.footer-component__wrapper{
  background-color: #00609C;
  color: white;
  padding: 2rem;


  @media (max-width: 40rem) {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__content-wrapper{

    img {
      width: 7vw;
    }

    @media (max-width: 40rem) {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      img{
      width: 50%;
      align-self: center;
    }
    }

   
  }

  .footer__main-content{
    text-align: right;
    @media (max-width: 40rem) {
      text-align: center;
    }

    .main-content__link{
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .list-wrapper{
    display: flex;
    list-style: none;
    justify-content: center;

    @media (max-width: 40rem) {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }


    li{
      &:hover {
        cursor: pointer;
        font-weight: bold;
      }

     &:after{
        content: '|'; // use content for box-sizing
        text-indent: -999999px; // Hide the content
        display: block;
        float: right; // Position
        width: 1px;
        height: 100%; // The 100% of parent (li)
        background: white; // The color
        margin: {
          left: 5px;
          right: 5px;
        }
      }

      &:last-child{

        &:after{
          content: none;
        }

      }
    }

  }
}