.main-video__overall-container {
  background-color: #eeeeee;
  padding: 1rem 0;

  @media (max-width: 40rem) {
    padding: 0;
  }

  .fas {
    color: white;
    font-size: 35px;
  }
  .main-video__page-wrapper {
    position: relative;
    text-align: center;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    @media (max-width: 40rem) {
      display: flex;
      flex-direction: column;
      padding: 6px;
    }

    .main-video__content-wrapper {
      text-align: left;
      width: 25%;
      @media (max-width: 40rem) {
        width: 95%;
      }

      .main-video__main-text {
        color: #00609c;
        font-weight: bold;
        font-size: 28px;
        @media (max-width: 40rem) {
          font-size: 16px;
          grid-row-start: 0;
          grid-row-end: 1;
        }
      }

      .main-video__secondary-text {
        color: black;
        font-size: 16px;

        @media (max-width: 40rem) {
          font-size: 10px;
          grid-row-start: 2;
          grid-row-end: 3;
        }
      }
    }

    .main-video__video-wrapper {
      max-width: 35vw;
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 4rem;

      @media (max-width: 40rem) {
        min-width: 80%;
        max-width: 100%;
        margin-left: 0;
      }

      @media (min-width: 40.1rem) and (max-width: 1199px) {
        max-width: 50vw;
      }

      .main-video__video {
        width: 100%;
        height: auto;
      }
    }

    .main-video__play-pause {
      position: absolute;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
    }
  }
}
